@-webkit-keyframes wave {
    from {
        -webkit-mask-position: 150%;
        mask-position: 150%
    }

    to {
        -webkit-mask-position: -50%;
        mask-position: -50%
    }
}

@-webkit-keyframes showLeft {
    0% {
        left: -100%
    }

    100% {
        left: 0
    }
}

@-webkit-keyframes animate {
    0% {
        transform: translateY(0)
    }

    50% {
        transform: translateY(-10px)
    }

    100% {
        transform: translateY(0)
    }
}

@keyframes animate {
    0% {
        transform: translateY(0)
    }

    50% {
        transform: translateY(-10px)
    }

    100% {
        transform: translateY(0)
    }
}

@-webkit-keyframes animateRightBG {
    0% {
        transform: translateY(0)
    }

    50% {
        transform: translateY(-10px)
    }

    100% {
        transform: translateY(0)
    }
}

@keyframes animateRightBG {
    0% {
        transform: translateY(0)
    }

    50% {
        transform: translateY(-10px)
    }

    100% {
        transform: translateY(0)
    }
}

@-webkit-keyframes animateMobil {
    0% {
        transform: translateY(0)
    }

    50% {
        transform: translateY(-10px)
    }

    100% {
        transform: translateY(0)
    }
}

@keyframes animateMobil {
    0% {
        transform: translateY(0)
    }

    50% {
        transform: translateY(-10px)
    }

    100% {
        transform: translateY(0)
    }
}

.page {
    position: relative;
    padding-top: 50px;
    position: relative;
    padding-top: 50px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, .6), rgba(0, 0, 0, .98)), url(../img/evipe.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    position: relative;
    /* background-attachment: fixed; */
    background-size: cover;

    color: #fff;
    overflow: hidden;




}


.evape-page {


    background-image: linear-gradient(to top, rgba(0, 0, 0, .6), rgba(0, 0, 0, .98)), url(../img/evipe.jpg);


}

.giga-page {


    background-image: linear-gradient(to top, rgba(0, 0, 0, .6), rgba(0, 0, 0, .98)), url(../img/fluid2.jpg);


}

.hard-page {

    background-image: linear-gradient(to top, rgba(0, 0, 0, .6), rgba(0, 0, 0, .98)), url(../img/hard.jpg);

}

.komplect-page {

    background-image: linear-gradient(to top, rgba(0, 0, 0, .6), rgba(0, 0, 0, .98)), url(../img/komp.jpg);
}

.page .main-container {

    max-width: 1200px;
    margin: 0 auto 50px;
    background-color: rgba(0, 0, 0, 0);
}


.page .first {

    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-around;
    /* align-items: center; */
    min-height: 400px;
}

.first__info {
    position: relative;
    z-index: 2;
    /* align-self: auto; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 6vw;
    width: 50%;
}

.first__info-title {

    font-size: 109px;
    padding: 10px 15px;
    transition: ease-in-out all 1.3s;
    position: relative;
    -webkit-animation: showLeft 1s ease-in-out .5s both;
    animation: showLeft 1s ease-in-out .5s both;
    display: flex;
    flex-wrap: wrap;

}

.first__info-title b {

    -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .6) 30%, #000 50%, rgba(0, 0, 0, .6) 70%);
    mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .6) 30%, #000 50%, rgba(0, 0, 0, .6) 70%);
    -webkit-mask-size: 200%;
    mask-size: 200%;
    -webkit-animation: wave 3s infinite;
    animation: wave 3s infinite;
    text-transform: uppercase;
    font-family: BebasNeue, sans-serif;
    text-align: start;
}

.first__info-description {

    padding: 0 15px;
}

.first__info-description p {

    position: relative;
    font-size: 18px;
    font-family: Montserrat, sans-serif;
    line-height: 1.4;
}

.first__info-description p:first-child {
    -webkit-animation: showLeft 1.5s ease-in-out .5s both;
    animation: showLeft 1.5s ease-in-out .5s both;

}

.first__images {

    position: relative;
    display: flex;
    align-items: center;
    -webkit-animation-name: animate;
    animation-name: animate;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    width: 50%;

}

.first__images img {

    /* position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: auto; */
}

.first__images-img {

    margin-top: -105px;

}


.giga-page .first__images-img,
.hard-page .first__images-img,
.komplect-page .first__images-img {

    margin-top: 0px;

}


.catalog {

    margin-top: 0vw;
}

.catalog-items-wrap {

    padding: 0 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.item-box {

    font-size: 50px;
    width: calc(33.3333333333vw - 12px);
    display: flex;
    justify-content: center;
    align-items: center;
}


.item {

    margin: 50px auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;


}


.img_item {

    display: block;
    margin: 0 auto;
    width: auto;
}

.item__name {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 700;
}

.item__category {

    margin-top: 10px;
    font-size: 24px;
    text-transform: uppercase;
}

.item__info {

    margin-top: 10px;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: 300;
    padding: 0 50px;
}

.item__btn {

    cursor: pointer;
    padding: 25px 40px 20px;
    margin: 20px 20px 0;
    border: #fff solid 1px;
    border-radius: 5px;
    font-size: 32px;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
}

.seo-text {}


@media(min-width: 1200px) {

    .item-box {

        width: 388px;
    }

}


@media(max-width: 1100px) {}

@media(max-width: 991px) {}

@media(max-width: 990px) {
    .item-box {


        width: calc(50vw - 18px);

    }

}

@media(max-width: 768px) {}

@media(max-width: 676px) {

    .item-box {


        width: calc(100vw - 18px);

    }

    .first__info-title {

        font-size: 60px;

    }

    .page .first {

        flex-direction: column-reverse;
    }

    .first__info {

        align-items: center;
        width: 100%;
    }

    .first__images {

        width: 100%;

        justify-content: center;
    }

    .first__images img {

        width: 60vw;
    }

}

@media(max-width: 520px) {


    .item-box {


        width: calc(100vw - 18px);

    }

}